#bake {
    width: 500px;
    height: 200px;
    margin-left: 710px;
    margin-top: 340px;
    background-color: black;
}

p {
    width: 500px;
    height: 200px;
    padding-top: 60px;
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 70px;
}