@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500;600&family=Roboto+Condensed&display=swap');

.nav-bar {
    grid-area: nav;
    background-color: green;
    border-radius: 5px;
    border: 10px solid white;
    border-radius: 20px;
}

.item a{
    text-decoration: none;
    color: white;
    font-family: Roboto Condensed;
    font-size: 35px;
    margin-left: 20px;
}