@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

#text {
    text-transform: uppercase;
    font-family: "Berkshire Swash";

    width: 324px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}