.app-wrapper {
  display: grid;

  grid-template-areas:
  "header header"
  "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: header;
  background-color: #079e00;
}

.nav-bar {
  grid-area: nav;
  background-color: green;
}

.content {
  grid-area: content;
}

.header img {
  width: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}